DERIBIT_TESTNET_CLIENT_ID=your_testnet_client_id
DERIBIT_TESTNET_CLIENT_SECRET=your_testnet_client_secret

DERIBIT_MAINNET_CLIENT_ID=your_mainnet_client_id
DERIBIT_MAINNET_CLIENT_SECRET=your_mainnet_client_secret
